._________ {
  width: ________;
  padding: ________;
  border: ________ solid ________;
  margin: ________;
  background-color: ________;
  height: ________; /* optional */
}


h1 {
  font-size: ________;
  text-align: center;
  color: ________;
}

h3 {
  font-size: ________;
  text-align: center;
  color: ________;
}

p {
  font-size: ________;
  text-align: ________;
  color: ________;
}

