.poster {
  width: 250px;
  padding: 15px;
  border: 5px solid black;
  margin: 15px auto;
  background-color: Blue;
  height: 100%; /* optional */
}


h1 {
  font-size: 30px;
  text-align: center;
  color: black;
}

h3 {
  font-size: 10px;
  text-align: center;
  color: black;
}

p {
  font-size: 12px;
  text-align: center;
  color: black;
}

